.DS_Store
buildServer.json
Sotos.xcodeproj/project.pbxproj
Sotos.xcodeproj/project.xcworkspace/xcuserdata/ethangoodhart.xcuserdatad/UserInterfaceState.xcuserstate
Sotos.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Sotos.xcodeproj/project.xcworkspace/xcuserdata/ethangoodhart.xcuserdatad/UserInterfaceState.xcuserstate
Sotos.xcodeproj/project.pbxproj
Sotos.xcodeproj/project.xcworkspace/xcuserdata/ethangoodhart.xcuserdatad/UserInterfaceState.xcuserstate
Sotos.xcodeproj/project.xcworkspace/xcuserdata/ethangoodhart.xcuserdatad/UserInterfaceState.xcuserstate
